<!--
  Generated template for the TrabajoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>trabajo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style= "background-color: rgb(224, 240, 235)">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor= "let trabajo of trabajos" col-4>
        <ion-card (click)="vertrabajo(trabajo)"  style="background-color:cadetblue">
        <img *ngIf= "trabajo.ad.hasOwnProperty('thumbnail')"
        src="http://img.segundamano.mx/cover/{{trabajo.ad.thumbnail.path}}">
        <img *ngIf= "!trabajo.ad.hasOwnProperty('thumbnail')"
        src="../assets/imgs/logo.png">
        <ion-item>
          <h2 *ngIf= "trabajo.ad.hasOwnProperty('prices')">{{trabajo.ad.subject}}</h2>
          <p *ngIf= "trabajo.ad.hasOwnProperty('locations')">{{trabajo.ad.locations[0].locations[0].label}},{{trabajo.ad.locations[0].label}}</p>
          <h2 *ngIf= "trabajo.ad.hasOwnProperty('prices')"> {{trabajo.ad.prices[0].label}}</h2>
        </ion-item>
  
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
